<html>
<form method="post" action="/posts/new" >
    <input name="title" type="text" placeholder="title">
    <textarea name="content" placeholder="content"></textarea> 
    <button type="submit">Send</button>
</form>
</html>