<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="row">

        <% users.forEach(user => { %>
    <div class="col-4 card">
        <img class="card-img-top" src="../profile_pics/<%= user.profile_pic %>">
        <div class="card-body"></div>
        <h4 class="card-title"><%= user.username %></h4>
        <h5 class="card-sub-title text-muted">Joined : <%= user.joined.toLocaleDateString() %></h5> 
        <a href="users/<%= user.id %>"><button class="btn btn-outline-secondary">See Profile</button></a>
    </div>
    <% }) %>
</div>
</body>
</html>